@mixin btn1{
  background: $mainColor;
  color: #fff;
  border-radius: 25px;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

/* 引数を使ったmixin */
@mixin btn2($bgcolor, $color) {
  background: $bgcolor;
  color: $color;
  border-radius: 25px;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

/* 引数に初期値を定義したmixin */
@mixin btn3($bgcolor: $mainColor, $color: #fff) {
  background: $bgcolor;
  color: $color;
  border-radius: 25px;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}