@charset "UTF-8";
#list a {
  background: #014da1;
  color: #fff;
  border-radius: 25px;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

/*
_const.scssで設定している変数
-------------------------------
$mainColor
$subColorLB
$subColorGY
*/
